body { 
    background: #343c44;}
    .container { 
        width: 2154px; 
        height: 2143px; 
        margin: 0 auto; 
    }
img{
    display:scroll; 
    position:fixed; 
    bottom:0px; 
    right:0px;
    top: 250px;
    left: 0px;
    margin: 0 auto;
    border-radius: 50%;
}
    